.product-cart-wrap {
  position: relative;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  .product-img-action-wrap {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    max-height: 320px;
    padding: 25px 25px 0 25px;
    .product-img {
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      a {
        overflow: hidden;
        display: flex;
        img {
          transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
          width: 100%;
        }
        img.hover-img {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          opacity: 0;
          visibility: hidden;
          transition: 0.25s opacity, 0.25s visibility,
            transform 1.5s cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
    .product-img:hover {
      .hover-img {
        opacity: 1;
        visibility: visible;
      }

      img {
        transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
      }
    }
    .product-action-1 {
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #bce3c9;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      z-index: 9;
      box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
      a.action-btn {
        width: 40px;
        height: 36px;
        line-height: 40px;
        text-align: center;
        position: relative;
        display: inline-block;
        border-right: 1px solid #bce3c9;
      }
    }
    .product-badges.product-badges-position {
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 9;
      margin: 0 0 10px;
      .hot {
        background-color: #f74b81;
      }
      .best {
        background-color: #f59758;
      }
      .new {
        background-color: #3bb77e;
      }
      .sale {
        background-color: #67bcee;
      }
      span:last-child {
        margin-right: 0px;
      }
      span {
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        border-radius: 15px 0 20px 0;
        color: #fff;
        padding: 9px 20px 10px 20px;
      }
    }
  }
  .product-img-action-wrap:hover {
    .product-action-1 {
      opacity: 1;
      visibility: visible;
    }
  }

  .product-content-wrap {
    padding: 0 20px 20px 20px;
    .product-category {
      margin-bottom: 5px;
      a {
        color: #adadad;
        font-size: 12px;
      }
    }
    h2 {
      font-size: 16px;
      margin-bottom: 5px !important;

      a {
        color: #253d4e;
      }
    }
  
    .sold {
      .MuiBox-root {
        height: 6px;
        padding: 10px 0;
        & > span {
          background-color: #e9ecef;
          height: 6px;
          border-radius: 5px;
        }
      }
      p {
        padding: 5px 0;
        font-size: 13px;
        color: #253d4e;
      }
    }

 
  
  }
}
.product-cart-wrap:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #bce3c9;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}
