/* App.css */

.dropdown {
  position: absolute !important;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  min-width: 250px;
  padding: 25px 15px;
  transition: all 0.25s ease 0s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid #ececec;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.dropdown-item {
  font-size: 14px;
  color: #7e7e7e;
  display: block;
  position: relative;
}
.dropdown-item:hover {
  .dropdown-content {
    opacity: 1;
  }
  .dropdown {
    opacity: 1;
  }
}

.list-inline-item:hover .dropdown,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
}

.dropdown-title {
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.dropdown-title:hover {
  color: #3bb77e;
}

.dropdown-arrow {
  margin-left: 10px;
}

.dropdown-content {
  position: absolute;
  left: calc(100% + 15px);
  top: -90px;
  background-color: #ffffff;
  width: 240px;
  transition: all 0.25s ease 0s;
  opacity: 0;
  border-radius: 10px;
}
